.content-wrapper {
  @extend .container-fluid;

  background-color: #deecee;
  min-height: 500px;
}

#maze-placeholder {
  margin-top: 2em;

  td, th {
    @extend .text-center;
  }
}

#maze-solution-description {
  margin-top: 2em;
}
