{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Generate a new maze</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <button id="maze-generator" class="btn btn-primary">Click me to generate a new maze</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div id="maze-placeholder">
                <table class="table table-responsive table-bordered table-condensed">
                    <thead id="maze-header">
                    </thead>

                    <tbody id="maze-body">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
