{% extends '::base.html.twig' %}

{% block body %}
    <h1>Homepage</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, assumenda aut autem beatae culpa ea earum laudantium molestias nobis, placeat quos recusandae sed ullam ut velit. Facere numquam repudiandae totam!</p>
{% endblock %}
