{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Homepage</h1>
        </div>

        <div class="col-xs-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, assumenda aut autem beatae culpa ea
                earum
                laudantium molestias nobis, placeat quos recusandae sed ullam ut velit. Facere numquam repudiandae
                totam!</p>
        </div>
    </div>
{% endblock %}
