{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Generate a new maze</h1>
        </div>
    </div>

    <div class="row">
        <form class="form" role="form">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="maze-width">Maze Width:</label>
                    <input type="text" class="form-control" id="maze-width" value="10">
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="maze-height">Maze Height:</label>
                    <input type="text" class="form-control" id="maze-height" value="10">
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="maze-block-density">Block Density %:</label>
                    <input type="text" class="form-control" id="maze-brick-density" value="30">
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="maze-start-x">Start Point X:</label>
                    <input type="text" class="form-control" id="maze-start-x" value="0">
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="maze-start-y">Start Point Y</label>
                    <input type="text" class="form-control" id="maze-start-y" value="0">
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="maze-end-x">End Point X:</label>
                    <input type="text" class="form-control" id="maze-end-x" value="8">
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="maze-end-y">End Point Y</label>
                    <input type="text" class="form-control" id="maze-end-y" value="8">
                </div>
            </div>

            <div class="col-xs-12">
                <input type="submit" id="maze-generator" class="btn btn-primary" value="Click me to generate a new maze">
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div id="maze-solution-description">

            </div>
        </div>

        <div class="col-xs-12">
            <div id="maze-placeholder">
                <table class="table table-responsive table-bordered table-condensed">
                    <thead id="maze-header">
                    </thead>

                    <tbody id="maze-body">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
